.caja {
    display: inline-block;
    margin: 5px;
    width: 25%;
    height: 300px;
    background: red;
    color: yellow;
    font-size: 3em;
    }
    #dos {
    color: white;
    background: black;
    }
    div{
    display: flex}
    

